#nosotros-sueños-hogar{
    height: 100%;
    width: 100%;
    background-image: url(../images/sueños-hogar-nosotros.png);
    background-position: center center;
}
#no-background-nosotros{
    background-color: transparent !important;
    border-color: transparent !important;
}
.text-center{
    color: white;
}
#nuestra-historia {
    background-color: #0A1445;
}
#text-historia {
    margin-top: 50px;
    margin-bottom: 50px;
}
#img-historia {
    margin-top: 50px;
    margin-bottom: 50px;
}
.text-white {
    color: white;
}
.tamano-subtitulo{
    font-size: 28px;
}
#mision-vision {
color: #0A1445;
}
.text-align {
    text-align: center;
}
.thick { 
    font-weight: bold;
}
#valores { 
    background-color: #0A1445;
}
#tamano-icono-valores-conexion { 
    width: 40px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}
#tamano-icono-valores-comodidad {
    width: 70px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}
#tamano-icono-valores-confianza {
    width: 70px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}
#carouselExample {
    height: 370px;
    background-color: #0A1445;
    padding-top: 20px;
    margin-top: 25px;
}
#carouselExample img {
    height: 43;
    width: auto !important;
}
.carousel-item img {
    margin: auto;
}
#tex-opiniones {
    margin-bottom: 20px;
}
#comentarios-card-tamano{
    width: 350px;
    height: 161px;
}
#fondocomentarios {
    background-color: #0A1445
}
.foto-perfil-comentarios {
    width: auto;
    height: 75px
}
.carousel-inner {
    width: 80% !important; 
    margin: 0 auto;
}